<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>

                         
                    
		<mapping class="com.springinpractice.ch04.model.DanePodstawowe" />
		<mapping class="com.springinpractice.ch04.model.DodatkowaInformacja" />
		<mapping class="com.springinpractice.ch04.model.InteresujeMnie" />
		<mapping class="com.springinpractice.ch04.model.Miejscowosc" />
		<mapping class="com.springinpractice.ch04.model.Mieszkam" />
		<mapping class="com.springinpractice.ch04.model.Plec" />
		<mapping class="com.springinpractice.ch04.model.Preferencje" />
		<mapping class="com.springinpractice.ch04.model.StatusZwiazku" />
		<mapping class="com.springinpractice.ch04.model.Sylwetka" />
		<mapping class="com.springinpractice.ch04.model.Wojewodztwo" />

	</session-factory>
</hibernate-configuration>
